@import "tailwindcss";

html {
  font-size: 15px;
}

body {
  @apply antialiased font-sans text-gray-700 dark:text-gray-300 bg-white dark:bg-gray-950;
  letter-spacing: -0.01em;
}

h1, h2, h3, h4 {
  letter-spacing: -0.02em;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-200 dark:bg-gray-800 rounded-full;
}
